* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.img-recommended {
  height: 100px;
  padding: 15px;
}

.card-recommended {
  border: 1px solid red;
  width: 130px;
}

.container-recommended {
  border: 1px solid green;
  display: flex;
  justify-content: center;
  width: 700px;
}
